* {
  font-family: "Lexend", sans-serif;
  font-weight: 250;
  color: white;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  background: url("../Asset/img/Untitled-1-01.png") no-repeat fixed 500px 0px;
}
header .title {
  font-family: "Goldman", sans-serif;
  font-size: 80px;
  margin: 0;
}
header .hero .hero-img {
  width: 100%;
}

body {
  background-color: #000;
}