$PrimaryFont: "Goldman", sans-serif;
$SecondaryFont: "Lexend", sans-serif;

*{
    font-family: $SecondaryFont;
    font-weight: 250;
    color: white;
}

.wrapped{
    // background: url("../Asset/img/Untitled-1-01.png") no-repeat fixed 500px 0px;
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    max-height: 100%;
}
header{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    max-height: 100%;
    .title{
        font-family: $PrimaryFont;
        margin: 0;
    }
    .hero{ 
        .hero-img{
            width: 100%;
        }

    }

}
body{
    background-color: #000;
}
.btn{
    font-family: $PrimaryFont;
}