$PrimaryFont: "Goldman", sans-serif;
$SecondaryFont: "Lexend", sans-serif;

*{
    font-family: $SecondaryFont;
    font-weight: 250;
    color: white;
}

.wrapped{
    // background: url("../Asset/img/Untitled-1-01.png") no-repeat fixed 500px 0px;
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    max-height: 100%;
}
header{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    max-height: 100%;
    .title{
        font-family: $PrimaryFont;
        margin: 0;
    }
    .hero{ 
        .hero-img{
            width: 100%;
        }

    }

}
body{
    background-color: #000;
}
.btn{
    font-family: $PrimaryFont;
    border-radius: 0;
}
.count {
    .tick-credits{
        display: none;
    }
    .tick {
    font-size:1rem;  
    padding: 0 !important;
    margin: 0 !important;
    }

    .tick-flip,.tick-text-inline {
    font-size:2.5em;
    }

    .tick-label {
    margin-top:1em;
    font-size:1em;
    }

    .tick-char {
    width:1.5em;
    }

    .tick-text-inline {
    display:inline-block;
    text-align:center;
    min-width:1em;
    }

    .tick-text-inline+.tick-text-inline {
    margin-left:-.325em;
    }

    .tick-group {
    margin:0 .5em;
    text-align:center;
    margin-left: 0;
    }

    .tick-text-inline {
        color: rgb(230, 240, 255) !important; 
    }

    .tick-label {
        color: rgb(230, 240, 255) !important; 
    }

    .tick-flip-panel {
        color: rgb(0, 0, 0) !important; 
    }

    .tick-flip {
        *{  
        font-family: $PrimaryFont !important; 
        }
    }

    .tick-flip-panel-text-wrapper {
        line-height: 1.35 !important; 
    }

    .tick-flip-panel {
    background: linear-gradient(0deg, rgba(45,45,45,1) 0%, rgba(15,15,15,1) 42%, rgba(73,73,73,1) 100%);
    }

    .tick-flip {
        border-radius:0em !important; 
    }
}